.content-block-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: auto;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 10vh;
}

.content-block-section {
  width: 36vw;
  white-space: pre-line;
}

.content-block-section-img {
  width: 100%;
}

.p-card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.p-card-body {
  padding: 2%;
  color: #0F172A;
  width: 100%;
}

.content-block-buttons {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  padding-right: 1vw;
}

.buttons {
  color: #528887;
  border-width: 0.2vw;
  font-size: 1vw;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  padding: 0.8vh 1.5vw;
}

/* .align-center .p-card-content,
.align-center {
  align-items: center;
}

.align-start .p-card-content,
.align-start {
  align-items: flex-start;
} */

