:root {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;

  color: #0F172A;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
  line-height: 120%;
  letter-spacing: -2%;
  
}

h1 {
  font-size: 2.5vw;
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 1.3vw;
  padding-top: 1vh;
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
}

h3 {
  font-size: 1vw;
  padding-top: 1vh;
}

p {
  font-size: 1vw;
  padding-top: 2vh;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
}
